@import "mixins";
@import "fonts";
@import "variables";

@import "bulma/utilities/_all.sass";

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: linear-gradient(to bottom right, transparent, #e7e5f3);
  background-image: url(/images/bgComing.png);
  background-color: linear-gradient(to bottom right, transparent, #e7e5f3),
    url(/images/bgComing.png);
  background-repeat: no-repeat;
  background-position: top left;

  background-size: auto 100%;

  overflow: hidden;
}

.middle {
  @include middle();
}

.comingsoon__text {
  font-family: $header-font, sans-serif;
  color: $primary-color;
  transform: translate(10px, 200%);
  font-size: 15px;
}

.comingsoon__tower {
  max-width: 500px;
  width: 100%;
}

.comingsoon__logo {
  transform: translateY(-70%);
  max-width: 600px;
  width: 100%;
}

.js--comingsoon__text {
  width: 10px;
  display: inline-block;
  text-align: left;
}

@media (min-width: 400px) {
  .comingsoon__text {
    font-size: 19px;
  }
}

@media (min-width: 550px) {
  .comingsoon__text {
    font-size: 24px;
  }
}

@include tablet() {
  .comingsoon__text {
    font-size: 32px;
  }
}

@include desktop() {
  .comingsoon__text {
    font-size: 36px;
  }
}
