@import "variables.scss";

.label {
  font-family: $header-font, sans-serif;
  font-size: $header-font-size;
  font-weight: bold;
  background-color: #f7f6fb;
  color: $primary-color;
  display: inline-block;
  width: 275px;
  padding: 15px 0 15px 0;
  text-align: center;
  -webkit-box-shadow: 8px 8px 0px 0px rgba(227, 224, 241, 1);
  -moz-box-shadow: 8px 8px 0px 0px rgba(227, 224, 241, 1);
  box-shadow: 8px 8px 0px 0px rgba(227, 224, 241, 1);
}
.label-sub {
  color: black;
  font-size: 20px;
  font-weight: 200;
  font-family: $subheader-font, sans-serif;
}

.register__label {
  padding: 15px 0 5px 0;
}
