@font-face {
  font-family: "cordia_newregular";
  src: url("../fonts/CordiaNew/cordia_0-webfont.eot");
  src: url("../fonts/CordiaNew/cordia_0-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/CordiaNew/cordia_0-webfont.woff2") format("woff2"),
    url("../fonts/CordiaNew/cordia_0-webfont.woff") format("woff"),
    url("../fonts/CordiaNew/cordia_0-webfont.ttf") format("truetype"),
    url("../fonts/CordiaNew/cordia_0-webfont.svg#cordia_newregular")
      format("svg");
  font-weight: normal; 
  font-style: normal;
}

@font-face {
  font-family: "supermarketregular";
  src: url("../fonts/Supermarket/supermarket-webfont.eot");
  src: url("../fonts/Supermarket/supermarket-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Supermarket/supermarket-webfont.woff2") format("woff2"),
    url("../fonts/Supermarket/supermarket-webfont.woff") format("woff"),
    url("../fonts/Supermarket/supermarket-webfont.ttf") format("truetype"),
    url("../fonts/Supermarket/supermarket-webfont.svg#supermarketregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Raleway/raleway-v12-latin-600.eot");
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"),
    url("../fonts/Raleway/raleway-v12-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Raleway/raleway-v12-latin-600.woff2") format("woff2"),
    url("../fonts/Raleway/raleway-v12-latin-600.woff") format("woff"),
    url("../fonts/Raleway/raleway-v12-latin-600.ttf") format("truetype"),
    url("../fonts/Raleway/raleway-v12-latin-600.svg#Raleway") format("svg");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Raleway/raleway-v12-latin-700.eot");
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url("../fonts/Raleway/raleway-v12-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Raleway/raleway-v12-latin-700.woff2") format("woff2"),
    url("../fonts/Raleway/raleway-v12-latin-700.woff") format("woff"),
    url("../fonts/Raleway/raleway-v12-latin-700.ttf") format("truetype"),
    url("../fonts/Raleway/raleway-v12-latin-700.svg#Raleway") format("svg");
}

@font-face {
  font-family: 'ywc16';
  src:  url('../fonts/ywc16-icons/ywc16.eot?3o8xb8');
  src:  url('../fonts/ywc16-icons/ywc16.eot?3o8xb8#iefix') format('embedded-opentype'),
    url('../fonts/ywc16-icons/ywc16.ttf?3o8xb8') format('truetype'),
    url('../fonts/ywc16-icons/ywc16.woff?3o8xb8') format('woff'),
    url('../fonts/ywc16-icons/ywc16.svg?3o8xb8#ywc16') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ywc16-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ywc16' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ywc16-icon.ywc16-logo:before {
  content: "\e900";
  color: #6d65ac;
}
.ywc16-icon.ywc16-fb:before {
  content: "\e901";
  color: #6d65ac;
}
.ywc16-icon.ywc16-ig:before {
  content: "\e902";
  color: #6d65ac;
}
.ywc16-icon.ywc16-tw:before {
  content: "\e903";
  color: #6d65ac;
}
.ywc16-icon.ywc16-yt:before {
  content: "\e904";
  color: #6d65ac;
}