@mixin middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin headerFont {
  font-family: $header-font, "Helvetica", sans-serif;
}

@mixin subHeaderFont {
  font-family: $subheader-font, "Arial", sans-serif;
}

@mixin contentFont {
  font-family: $content-font, "Tahoma", sans-serif;
}

@mixin enableGrayscale {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

@mixin disableGrayscale {
  -webkit-filter: grayscale(0);
  filter: none;
}
