@import "variables.scss";
@import "fonts";
@import "mixins";

@import "bulma/utilities/_all.sass";
@import "bulma/columns.sass";
@import "bulma/container.sass";
@import "bulma/base/_all.sass";
@import "bulma/utilities/initial-variables.sass";
@import "bulma/layout/_all.sass";
@import "bulma/elements/form.sass";

@import "datatables";
@import "bulma-datatables/dataTables.bulma";

html {
  height: 100%;
}

body {
  font-family: $content-font, sans-serif;
  font-size: $content-font-size;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

body, #main{
  height: 100%;
}

.label--sub {
  font-family: $subheader-font, sans-serif;
  color: #6d65ac;
  font-size: $sub-header-font-size;
}

.primary-color {
  color: $primary-color;
}

.header-font {
  @include headerFont();
}

.sub-header-font {
  @include subHeaderFont();
}

.content-font {
  @include contentFont();
}

.middle {
  @include middle();
}

.has-grayscale {
  @include enableGrayscale();
}

.pointer {
  cursor: pointer;
}

.font-bold {
  font-weight: bold !important;
}

.font-normal {
  font-weight: normal !important;
}

.hide {
  display: none;
}

.btn {
  border-radius: 40px;
  padding: 6px 42px;
  border: 2px solid;
  font-size: 21px;
  font-weight: bold;
  font-family: $subheader-font, sans-serif;
  background-color: white;
  border-color: $primary-color;
  color: $primary-color;
  transition: 0.3s all;

  &.button--choose_major{
    width: 90%;
    display: block;
  }

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: $primary-color;
  }
}

@import "layouts/grid.scss";
@import "layouts/ca_header";
@import "layouts/ca_section";
@import "layouts/footer.scss";

#main{
  background-color: $light-color;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f6fb+0,f7f6fb+98,ebe9f5+100 */
  background: $light-color; /* Old browsers */
  background: -moz-linear-gradient(top, $light-color 0%, $light-color 98%, #ebe9f5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $light-color 0%,$light-color 98%,#ebe9f5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $light-color 0%,$light-color 98%,#ebe9f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6fb', endColorstr='#ebe9f5',GradientType=0 ); /* IE6-9 */
  overflow-y: auto;
  padding: 0 1.25rem;
  scroll-behavior: smooth;

  .hero-body{
    padding: 0;
  }
}

.header-label {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  h2, .header-content {
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: $light-color;
    background-image: url("../images/title/title.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 2rem;
    padding-right: 2rem;
    color: $primary-color;
    @include headerFont();
    font-size: 1.75rem;
    font-weight: bolder;
    line-height: 1.75rem;
    border-radius: 0.25em;
    text-transform: uppercase;

    &:before,
    &:after {
      content: " ";
      width: 24px;
      height: 36px;
      position: absolute;
      margin: 0;
      padding: 0;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &:before {
      right: 1px;
      top: -18px;
      background-image: url(../images/title/title-right.svg);
    }

    &:after {
      left: -16px;
      bottom: -18px;
      width: 20px;
      background-image: url(../images/title/title-left.svg);
    }
  }
}

.footer{
  margin: 0;
  padding: 1.5rem;
  padding-top: 1.5rem;
  background: $light-color;

  @include mobile(){
    padding: 0;
    padding-bottom: 0.5rem;
  }

  .footer__content{
    margin-top: 0;
    .footer__content--sosumi{
      margin: 0;
      width: 100%;
    }
  }
}