$primary-color: #6d65ac;
$secondary-color: #a0a0e8;
$sub-color: #e3e0f1;
$light-color: #f7f6fb;

$header-font-size: 32px;
$sub-header-font-size: 26px;
$content-font-size: 23px;

$header-font: "Raleway";
$subheader-font: "supermarketregular";
$content-font: "cordia_newregular";

$sponsor-size-vip: 180px;
$sponsor-size-sponsor: 125px;
$sponsor-size-partner: 130px;
$sponsor-mobile-resize-ratio: 0.8;
$sponsor-header-mobile-resize-ratio: 0.65;
$sponsor-partner-perRow: 4;
$sponsor-partner-margin: 1rem;

$is-sponsor-scb-show: true;
$is-location-show: true;
$is-register-open: true;
