$primary-color: #6d65ac;
$secondary-color: #a0a0e8;
$sub-color: #e3e0f1;
$light-color: #f7f6fb;

$header-font-size: 32px;
$sub-header-font-size: 26px;
$content-font-size: 23px;

$header-font: "Raleway";
$subheader-font: "supermarketregular";
$content-font: "cordia_newregular";
