$primary-color: #716ab1;
$secondary-color: #a0a0e8;
$sub-color: #e3e0f1;
$light-color: #eceaf5;

$header-font-size: 32px;

$header-font: "Raleway";
$subheader-font: "supermarketregular";
$content-font: "cordia_newregular";
