.contact{
	.contact__social__label{
		margin-bottom: 10vh;
	}
	.contact__social{
		margin-bottom: 15vh;
		a{
			text-decoration: none;

			.ywc16-icon{
				font-size: 3.75rem;
				text-shadow: 0 0 0 $secondary-color;
				transition: all 0.5s;
			}
			&:hover{
				.ywc16-icon{
					text-shadow: 0 0 10px $secondary-color;
				}
			}
		}
	}
}