.contact {
  .contact__social__label {
    margin-bottom: 5vh;
  }
  .contact__social {
    margin-bottom: 5vh;
    .contact__social__cols {
      justify-content: center;
    }
    .contact__social__col {
      flex: 0 0 160px;
    }
    a {
      text-decoration: none;

      .ywc16-icon {
        font-size: 3rem;
        text-shadow: 0 0 0 $secondary-color;
        transition: all 0.5s;
      }
      &:hover {
        .ywc16-icon {
          text-shadow: 0 0 10px $secondary-color;
        }
      }
    }
  }
}
