@import "../mixins";

.footer__content {
  margin-top: 13vh;
  /* margin-bottom: 20vh; */ /* moved to section */
  text-align: center;
  @include headerFont();

  p {
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
  }

  .footer__content--copyright {
    font-weight: 600;
  }

  .footer__content--sosumi {
    line-height: 3rem;
    margin-top: -0.2rem;
    font-weight: lighter;
  }
}
