@import "../slick/slick.scss";
$slick-font-path: "../fonts/";
$slick-loader-path: "../images/icon";
@import "../slick/slick-theme.scss";

.gallery__container {
  max-width: 900px;
  width: 90%;
}

.gallery__carousel {
  margin-top: 60px;
}

.carousel-nav-right,
.carousel-nav-left {
  cursor: pointer;
}

.slide-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slide {
  margin: 0 10px;
}

.carousel {
  position: initial;
}

.navigator {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
}

.carousel-nav-left {
  float: left;
}

.carousel-nav-right {
  float: right;
}

.carousel-nav-left,
.carousel-nav-right {
  font-size: 2rem;
  color: #969393;
}
#carousel {
  // width: 80%;
}
#carousel-slide {
  // width: 80%;
}

/* For Slick  */
#carousel-nav {
  height: 25vh;
  width: calc(100% - 100px);
  margin-top: 2rem;

  @media (max-width: 550px) {
    display: none;
  }

  .carousel-thumbnail {
    height: 25vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-size: 2rem;
    line-height: 1;
    color: $primary-color;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 900;
  }
  .slick-prev {
    left: -50px;
  }
  .slick-next {
    right: -50px;
  }
  .slick-prev:before {
    content: "\f104";
  }
  .slick-next:before {
    content: "\f105";
  }
}
