.guru__container {
  max-width: 800px;
  width: 90%;
}

.guru__main {
  position: relative;
  margin-top: 60px;
  border-radius: 15px;
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #f7f6fb;
  background-image: url(../images/guruBg.png);
}

.guru__main__pic {
  flex: 0 0 280px;
}

.guru__main__pic__img {
  width: 200px;
}

.guru__main__info {
  position: relative;
}

.guru__middle {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.guru__main__info__name {
  @include subHeaderFont();
  color: $primary-color;
  font-size: 38px;
}

.guru__main__info__corp {
  @include subHeaderFont();
  font-size: 24px;
  color: #9490b3;
}

.guru__children {
  display: flex;
  margin-top: 20px;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.guru__child,
.guru__child img {
  max-width: 120px;
  width: 100%;
  height: 150px;
}

.guru__child {
  flex: 0 0 120px;
  padding: 20px 20.5px 0 0;
}

@include desktop() {
  .guru__children {
    flex-wrap: wrap;
    overflow: hidden;
  }
  .guru__children .guru__child--final {
    padding-right: 0;
  }
}

@include mobile() {
  .guru__main__pic,
  .guru__main__info {
    text-align: center;
  }
  .guru__main__info {
    padding: 70px 0;
    margin-top: -30px;
  }
}
