.guru__container {
  max-width: 900px;
  width: 90%;
}

.guru__main {
  position: relative;
  margin-top: 50px;
  border-radius: 15px;
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #f7f6fb;
  background-image: url(../images/guruBg.png);
  background-image: url(../images/guruBg.svg);
}

.js--guru_fade {
  min-height: 300px;
  margin: 0;
}

.guru__main__pic {
  flex: 0 0 280px;
  margin-left: 20px;
  height: 300px;
  background: url(../images/speaker/1.jpg);
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center;
  @include mobile() {
    background-size: auto 90%;
    background-position: bottom;
    margin-left: 0;
  }
}

.guru__main__pic__img {
  height: 188px;
  margin-top: 12px;
}

.guru__child {
  background-repeat: no-repeat !important;
  background-size: auto 100%;
  background-image: attr(src url);
  background-position: center;
}

.guru__main__info {
  position: relative;
}

.guru__middle {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 10px;
  transform: translateY(-50%);
  @include mobile() {
    position: relative;
    transform: translateY(0);
  }
}

.guru__main__info__name {
  @include subHeaderFont();
  color: $primary-color;
  font-size: 44px;

}

.guru__main__info__corp {
  @include subHeaderFont();
  font-size: 32px;
  color: #9490b3;
}

.guru__children {
  display: flex;
  margin: 0;
  margin-top: 20px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.guru__child,
.guru__child img {
  max-width: 150px;
  width: 100%;
  height: 180px;
}

.guru__child img {
  display: none;
}

// .guru__child__img--1 {
//   background-position: center;
//   background-size: 100%;
// }

// .guru__child__img--3 {
//   background-position: center;
//   background-size: 100%;
// }

// .guru__child__img--5 {
//   background-position: 30% top;
//   // background-size: 200%;
// }

// .guru__child__img--6 {
//   background-position: 80% top;
//   // background-size: 200%;
// }

// .guru__child__img--7 {
//   background-position: center top;
//   background-size: 100% auto;
// }

// .guru__child__img--12 {
//   background-size: 190%;
// }

// .guru__child__img--13 {
//   background-size: 200%;
// }

.guru__child {
  flex: 0 0 141.5px;
  // flex: 0 0 calc(16.67% - 15.1px);
  padding: 0;
  margin: 5px 10px 5px 0;
}

.guru__child {
  @include enableGrayscale();
  cursor: pointer;
}

.guru__child.active {
  @include disableGrayscale();
  border-radius: 5px;
  border: 3px solid $primary-color;
}

@include desktop() {
  .guru__children {
    flex-wrap: wrap;
    overflow: hidden;
  }
  .guru__children .guru__child--final {
    margin-right: 0;
  }
}

@include mobile() {
  .guru__main__pic,
  .guru__main__info {
    text-align: center;
  }
  .guru__main__info {
    padding: 20px 0;
  }
  .guru__main__info__name{
    font-size: 1.75rem;
  }

  .guru__main__info__corp{
    font-size: 1.25rem;
  }
}
