.header {
  padding-top: 0;
  .header__logo--margin {
    margin-top: calc(20vh);
    @include mobile() {
      margin-top: 7.5vh;
    }
  }
  .header__video {
    margin-bottom: -16.5vw;
    z-index: -1;
    position: relative;
  }
  .header__logo,
  .header__sponser--main {
    position: relative;
    z-index: 2;
  }
  .header__sponser--main {
    margin-top: 8vh;
  }
  .header__video__url {
    width: 100%;
  }
}

.header__sponsor--main {
  display: flex;
  flex-wrap: wrap;
  transform: translateY(0);
}

.header__sponsor--main {
  justify-content: center;
}

.header__sponsor--main__child {
  flex: 0 0 $sponsor-size-vip;
  height: $sponsor-size-vip;
  border-radius: 50%;
  margin: 20px 35px;
  padding: 12px;
  background-color: $secondary-color;
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 50%;
    border: 4px solid #6d65ac;
    z-index: 1;
  }

  @include mobile() {
    display: inline-block;
    margin-left: 0;
    margin-right: 1rem;
    flex: 0 0 ($sponsor-size-vip * $sponsor-header-mobile-resize-ratio);
    height: ($sponsor-size-vip * $sponsor-header-mobile-resize-ratio);
    width: ($sponsor-size-vip * $sponsor-header-mobile-resize-ratio);
  }
  @if $is-sponsor-scb-show != true {
    &.header__sponsor--child--scb{
      display: none;
    }
  }
}

.uppercuz {
  padding: 0 10px;
}

.mangozero {
  padding: 0 10px;
}

.header__sponsor--main__child img {
  width: $sponsor-size-vip;
  height: 100%;
  position: relative;
  z-index: 2;

  @include mobile() {
    width: ($sponsor-size-vip * $sponsor-header-mobile-resize-ratio);
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header__video {
  position: relative;
  @include mobile() {
    height: calc(100vw * (3 / 4));
  }
  .header__video__poster {
    position: absolute;
    width: 100%;
    height: calc(100vw * (9 / 16));
    left: 0;
    top: 0;
    opacity: 1;
    transition: opacity 0.5s;
    background-image: url("../images/cityanimate-poster.jpg");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;

    @include mobile() {
      height: calc(100vw * (4 / 3));
      background-image: url("../images/cityanimate-poster-mobile.jpg");
    }

    &.video-play {
      @include desktop() {
        opacity: 0;
      }
    }
  }
}

.header__video__logo {
  width: 80vw;
  position: absolute;
  bottom: 18%;
  bottom: 11vw; /* Video size is depended on monitor's width. */
  left: 50%;
  transform: translateX(-50%);
  height: calc(80vw * 0.1938);

  @include mobile() {
    width: 70vw;
    bottom: 12vw;
  }

  .header__video__logo--camp_name {
    margin: 0;
    width: 50%;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/icon/logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
  }

  .header__video__logo--slogan {
    margin: 0;
    width: 47.125%;
    position: absolute;
    right: 0;
    top: 29%;
    height: 40%;
    color: white;
    background: $primary-color;
    font-weight: 700;
    font-size: 4.25vw;
    @include headerFont();

    @include mobile() {
      font-size: 3.75vw;
      line-height: 6vw;
    }
  }

  .header__video__logo--taglines {
    margin: 0;
    width: 47.125%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 25%;
    color: $primary-color;
    opacity: 0.95;
    font-weight: 400;
    font-size: 2.6vw;
    @include subHeaderFont();
  }

  @media (min-width: 812.5px) {
    // (100/80)*650
    width: 650px;
    height: 126px;

    .header__video__logo--slogan {
      font-size: 2.2rem;
    }
    .header__video__logo--taglines {
      font-size: 1.45rem;
    }
  }
}

@media (min-width: 1113px) {
  .header__sponsor--main--left {
    justify-content: flex-end;
  }

  .header__sponsor--main--right {
    justify-content: flex-start;
  }
  .footer > .header__sponsor--main {
    transform: translateY(0);
  }
}
