.header {
  padding-top: 0;
  .header__video{
      margin-bottom: -16.5vw;
      z-index: 1;
      position: relative;
  }
  .header__logo, .header__sponser--main{
    position: relative;
    z-index: 2;
  }
  .header__sponser--main{
    margin-top: 8vh;
  }
  .header__video__url {
    width: 100%;
  }
}

.header__sponsor--main {
  display: flex;
  flex-wrap: wrap;
  transform: translateY(0);
}

.header__sponsor--main {
  justify-content: center;
}

.header__sponsor--main__child {
  flex: 0 0 180px;
  height: 180px;
  border-radius: 50%;
  margin: 20px 35px;
  padding: 12px;
  background-color: $secondary-color;
}

.uppercuz {
  padding: 0 10px;
}

.mangozero {
  padding: 0 10px;
}

// .header__sponsor--main--left > .header__sponsor--main__child:first-child,
// .header__sponsor--main--right > .header__sponsor--main__child:first-child {
//   margin: 40px 40px 40px 10px;
// }

// .header__sponsor--main--left > .header__sponsor--main__child:last-child,
// .header__sponsor--main--right > .header__sponsor--main__child:last-child {
//   margin: 40px 10px 40px 40px;
// }

.header__sponsor--main__child img {
  width: 180px;
  height: 100%;
  background: white;
  border-radius: 50%;
  border: 4px solid $primary-color;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header__video {
  position: relative;
}

.header__video__logo {
  max-width: 650px;
  width: 80%;
  position: absolute;
  bottom: 16%;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1113px) {
  .header__sponsor--main--left {
    justify-content: flex-end;
  }

  .header__sponsor--main--right {
    justify-content: flex-start;
  }
  .header__sponsor--main {
    transform: translateY(-30px);
  }
  .footer > .header__sponsor--main {
    transform: translateY(0);
  }
}
