$bannerRatio: 1200/682;
$locationWidth: 90vw;

@if $is-location-show == false {
  .location{
    display: none;
  }
}

.location__label{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.location__map {
  position: relative;
  width: 90%;
  width: $locationWidth;
  height: calc( #{$locationWidth} / #{$bannerRatio} );
  margin-top: 25px;
  margin-bottom: 80px;
  cursor: pointer;
  border: 3px solid $primary-color;

  background-image: url('../images/IT-KMITL-building.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  @media (min-width:1000px) {
    $locationWidth: 900px;
    width: $locationWidth;
    height: calc( #{$locationWidth} / #{$bannerRatio} );
  }

  .location__map__copyright{
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background: rgba(0,0,0,0.5);
    color: white;
  }
  
  .location__map__icon {
    position: absolute;
    top: 0;
    left: 0;
    /* width: calc(100% + 6px); */
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    opacity: 0;
    transition: 0.2s all;

    @media (pointer: coarse) {
      /* Touch-screen based device */
      background: rgba(255, 255, 255, 0.6);
      opacity: 1;
      z-index: 9;
    }
  }

  &:hover > .location__map__icon {
    background: rgba(255, 255, 255, 0.6);
    opacity: 1;
    z-index: 9;
  }

  .location__map__icon__container {
    width: 100%;
  }

  .location__map__icon__container__image {
    max-width: 160px;
    width: 20%;
    /* 
     * Push Icon <object> below <span> to be able to use <a>. 
     * I tried to use <img> but there's some conflict with dimension inside SVG.
     * read: https://stackoverflow.com/a/12732030/5561570 for more detail 
     */
    position: relative;
    z-index: -1;
  }

  .location__map__icon__container__openmap {
    @include headerFont();
    text-transform: uppercase;
    font-size: $header-font-size;
    color: $primary-color;
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 1);
    font-weight: 600;
  }
}
