.location__map {
  position: relative;
  max-width: 800px;
  width: 90%;
  margin-top: 25px;
  margin-bottom: 50px;
  cursor: pointer;
}

.location__map:hover > .location__map__icon {
  background: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.location__map__image {
  max-width: 800px;
  width: 100%;

  border: 3px solid $primary-color;
}

.location__map__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 6px);
  height: 100%;
  background: rgba(255, 255, 255, 0);
  opacity: 0;
  transition: 0.2s all;
}

.location__map__icon__container {
  width: 100%;
}

.location__map__icon__container__image {
  max-width: 160px;
  width: 20%;
}

.location__map__icon__container__openmap {
  @include headerFont();
  font-size: $header-font-size;
  color: $primary-color;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 1);
}
