$content-color: #81b77d;
$designer-color: #f7c778;
$programming-color: #78c8f4;
$marketing-color: #f797aa;

.register {
  margin-top: 30px;
  padding-bottom: 35%;
  background-image: url(../images/separator/separator_location.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% auto;
}

.register__branch {
  padding: 0 20px;
}

.register__branch__name {
  @include headerFont();
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px;
}

.register__branch__detail {
  margin-top: 30px;
  margin-bottom: 20px;
}

.register__branch__content__detail {
  transform: translateY(-20px);
}

.button--regis {
  border-radius: 40px;
  padding: 6px 42px;
  border: 2px solid;
  font-size: 21px;
  font-weight: bold;
  font-family: $subheader-font, sans-serif;
  background-color: white;
  border-color: $primary-color;
  color: $primary-color;
  transition: 0.3s all;
}

.button--regis:hover,
.button--regis:focus,
.button--regis:active {
  color: white;
  background-color: $primary-color;
}

// .register__branch__image {
//   transform: translateY(20px);
// }

.register__branch__content__name {
  color: $content-color;
}

.register__branch__designer__name {
  color: $designer-color;
}

.register__branch__programming__name {
  color: $programming-color;
}

.register__branch__marketing__name {
  color: $marketing-color;
}

.register__branch__no {
  font-family: $subheader-font, sans-serif;
  color: $primary-color;
  font-weight: 500;
}

.register__branch__no__regis {
  font-size: 50px;
}

.register__branch__desc {
  font-family: $subheader-font, sans-serif;
  font-size: 18px;
  color: #333;
}

.register__branch {
  justify-content: center;
  .column {
    flex: 0 0 250px;
    margin: 60px 12px 0 12px;
    border: 1.5px solid $sub-color;
    border-radius: 10px;
  }
}
