$content-color: #81b77d;
$designer-color: #f7c778;
$programming-color: #78c8f4;
$marketing-color: #f797aa;

.register {
  padding-bottom: 500px;
  background-image: url(/images/bg/bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
}

.register__branch__name {
  @include headerFont();
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px;
}

.register__branch__image {
  transform: translateY(20px);
}

.register__branch__content__name {
  color: $content-color;
}

.register__branch__designer__name {
  color: $designer-color;
}

.register__branch__programming__name {
  color: $programming-color;
}

.register__branch__marketing__name {
  color: $marketing-color;
}

.register__branch__no {
  font-family: $subheader-font, sans-serif;
  color: $primary-color;
  font-weight: 500;
}

.register__branch__no__regis {
  font-size: 50px;
}

.register__branch__desc {
  font-family: $subheader-font, sans-serif;
  font-size: 18px;
  color: #333;
}
