@import "../bulma/container.sass";
@import "../bulma/elements/image.sass";

.sponsor-all {
  margin-top: 90px;
  @include mobile() {
    .sponsor-all--container {
      max-width: 800px;
      width: 90%;
    }
  }
  .sponsor-all__main,
  .sponsor-all__sub {
    justify-content: center;
    align-items: center;
  }
  .sponsor-all__main__child,
  .sponsor-all__sub__child {
    max-width: 250px;
    a {
      /* background-color: white; */
      @extend .image;
      img {
        @extend .is-rounded;
        background: none;
      }
    }
  }

  .sponsor-all__main {
    margin-top: 60px;

    .sponsor-all__main__child {
      // @include desktop() {
      position: relative;
      border-radius: 50%;
      background: white;
      flex: 0 0 180px;
      height: 180px;
      width: 180px;
      margin: 1.5rem;
      flex-grow: 0;
      // }
      a {
        @extend .middle;
        // @include desktop() {
        width: 160px;
        padding: 0;
        // }
      }
    }
  }

  .sponsor-all__sub {
    margin-top: 5vh;

    .sponsor-all__sub__child {
      @include desktop() {
        height: 150px;
        width: 150px;
        margin-left: 1rem;
        margin-right: 1rem;
        flex-grow: 0;
      }

      a {
        @include desktop() {
          height: 150px;
          width: 150px;
          padding: 0;
        }
      }
    }
  }
}
