@import "../bulma/container.sass";
@import "../bulma/elements/image.sass";

.sponsor-all {
  margin-top: 80px;
  @include mobile() {
    .sponsor-all--container {
      max-width: 800px;
      width: 90%;
    }
  }
  .sponsor-all__main,
  .sponsor-all__sponsor,
  .sponsor-all__partner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sponsor-all__main__child,
  .sponsor-all__sponsor__child,
  .sponsor-all__partner__child {
    border-color: $primary-color;
    border-width: 2px;
    border-style: solid;
    @extend .is-rounded;
  }

  .sponsor-all__main .sponsor-all__main__child,
  .sponsor-all__partner .sponsor-all__partner__child {
    @include mobile() {
      display: inline-block;
    }
    &.sponsor-all__partner__child--pantip img{
      border-radius: 0;
      /* -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 85%, 0 85%); */
      /* clip-path: polygon(0 15%, 100% 15%, 100% 85%, 0 85%); */
      background: none;
    }
  }
  .sponsor-all__main__child,
  .sponsor-all__sponsor__child {
    a {
      /* background-color: white; */
      @extend .image;
      img {
        @extend .is-rounded;
        background: none;
      }
    }
  }

  .sponsor-all__main {
    margin-top: 3.15rem;
    @include mobile() {
      margin-top: 2vh;
      margin-bottom: 0;
    }

    .sponsor-all__main__child {
      // @include desktop() {
      position: relative;
      border-radius: 50%;
      background: white;
      flex: 0 0 $sponsor-size-vip;
      height: $sponsor-size-vip;
      width: $sponsor-size-vip;
      margin: 1.5rem;
      flex-grow: 0;

      @include tablet() {
        margin: 0 1.5rem;
      }

      @include mobile() {
        margin: 0 1rem;
        flex: 0 0 ($sponsor-size-vip * $sponsor-mobile-resize-ratio);
        height: ($sponsor-size-vip * $sponsor-mobile-resize-ratio);
        width: ($sponsor-size-vip * $sponsor-mobile-resize-ratio);
        img {
          width: 80%;
        }
      }

      @media (max-width: 375px) {
        margin: 0;
        &:first-child {
          margin-right: 3vw;
        }
        &:last-child {
          margin-left: 3vw;
        }
      }

      // }
      a {
        @extend .middle;
        // @include desktop() {
        width: $sponsor-size-vip * 0.889;
        padding: 0;
        // }
      }
    }
  }

  .sponsor-all__sponsor,
  .sponsor-all__partner {
    margin-top: 5vh;
    // @include mobile() {
    //   margin-top: 0;
    // }
    .sponsor-all__sponsor__child {
      flex: 0 0 $sponsor-size-sponsor;
      // @include desktop() {
      height: $sponsor-size-sponsor;
      width: $sponsor-size-sponsor;
      border-radius: 50%;
      background: white;
      margin-left: 1rem;
      margin-right: 1rem;
      flex-grow: 0;
      box-sizing: content-box;
      // }

      @include mobile() {
        margin: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        flex: 0 0 ($sponsor-size-sponsor * $sponsor-mobile-resize-ratio);
        height: ($sponsor-size-sponsor * $sponsor-mobile-resize-ratio);
        width: ($sponsor-size-sponsor * $sponsor-mobile-resize-ratio);
      }

      a,
      img {
        width: 100%;
        height: 100%;
        background: white;
        border-radius: 50%;
      }
    }
    .sponsor-all__partner__child {
      background: white;
      border-radius: 50%;
      flex: 0 0 $sponsor-size-partner;
      // @include desktop() {
      height: $sponsor-size-partner;
      width: $sponsor-size-partner;
      margin-left: 1rem;
      margin-right: 1rem;
      flex-grow: 0;
      // }
      @include mobile() {
        margin: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        flex: 0 0 ($sponsor-size-partner * $sponsor-mobile-resize-ratio);
        height: ($sponsor-size-partner * $sponsor-mobile-resize-ratio);
        width: ($sponsor-size-partner * $sponsor-mobile-resize-ratio);
      }

      a {
        @include desktop() {
          height: $sponsor-size-partner;
          width: $sponsor-size-partner;
          padding: 0;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: white;
        }
      }
    }
  }
}

.header__sponsor--main {
  .sponsor--twa {
    padding-bottom: 10px; /* Yes, you can set padding with <img> ! It's blew my mind! */
  }
}
.sponsor-all .sponsor-all__main .sponsor-all__main__child {
  .sponsor--twa {
    border-radius: 0;
    width: calc(100% - 25px);
    margin-top: -10px;
    @include mobile() {
      width: calc(80% - 25px);
    }
  }
}
