.timeline {
  margin-top: -10%;
  margin-bottom: 80px;
}

.timeline__phase {
  margin-top: 50px;
  color: #7b7b7b;
  justify-content: center;
  .column {
    flex: 0 0 200px;
  }
}

.timeline__phase__3__step {
  margin-top: 32px;
}

.timeline__phase__5__step {
  margin-top: 23px;
}

.timeline__phase__step {
  @include subHeaderFont();
  font-weight: bold;
}

.timeline__phase__date {
  @include subHeaderFont();
}

.timeline__container {
  width: 90%;
}

.active-color {
  color: $primary-color;
}

#ywc--bg {
  position: relative;
  // transform: translateY(-55vh);
  // padding-top: 30%;
  // margin-bottom: -45%;
  // padding-bottom: 20%;
  // background: transparent;
  // .ywc--bg__image {
  //   background-color: linear-gradient(to bottom right, transparent, #e7e5f3);
  //   background-image: url(/images/bgComing.png);
  //   background-color: linear-gradient(to bottom right, transparent, #e7e5f3),
  //     url(/images/bgComing.png);
  //   background-repeat: no-repeat;
  //   background-position: top left;
  //   background-size: cover;
  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  //   bottom: 0;
  //   z-index: -1;
  // }
}
